* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('../public/schoolbooks.jpeg');
  background-size: contain;
  background-position-y: 150px;
  background-color: oldlace;
  background-blend-mode: darken;
}

header {
  height: 100px;
  font-size: 3em;
  background: linear-gradient(#7AF3E6, #399394);
  font-family: sans-serif, comic-sans;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
}

h3 {
  margin: 0;
}

nav {
  text-align: center;
  background-color: #F7B27E;
}

nav input {
  width: 280px;
  height: 35px;
  font-size: 1.2em;
  margin: 10px 0;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: .5px solid lightgrey;
  box-shadow: 3px 3px 3px darkgrey;
  opacity: .95;
  width: 295px;
  height: 295px;
  background-color: oldlace;
  border-radius: 10px;
}

.card-hover:hover {
  background-size: cover;
  background-color: lightgrey;
  background-blend-mode: overlay;
}

.selected h3 {
  text-decoration: underline;
}

.green {
  color: teal;
}

.red {
  color: orangered;
}

.card-holder {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.card-data {
  font-weight: 700;
}

.selected {
  background-color: #E8F2AF;
}

.compared {
  display: inline-block;
}

.selected-cards {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid darkgrey;
  background-color: rgba(211,211,211,0.5);


}

.location {
  margin: 20px auto 0;
  text-decoration: underline;
}

.comparison-district {
  text-decoration: underline;
  margin: 15px auto 0px;
}

.comparison-average {
  margin-top: 5px;
}

.district {
  text-decoration: underline;
}

@media (max-width: 990px) {
  .selected-cards {
    flex-wrap: wrap;
  }
  .compared {
    order: -1;
  }
}

@media (max-width: 590px){

  .compared {
    order: 0;
  }

  header {
    font-size: 1.75em;
    }

}

@media (max-width: 360px){
  header {
    font-size: 1.25em;
  }

  .card {
    margin: 10px auto;
  }
}
